*{
	box-sizing: border-box;
}
body{
	margin: 0;
}

header{
	background-image: url(img/bg-header.png);
	background-size:cover;
	padding-bottom: 182px;
}

.container{
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0 80px;

}

a{
	text-decoration: none;
	
}

ul{
	list-style: none;
}

.logo{
	display: flex;
	align-items: center;
}

.logo-name{
	font-family: "Myriad Pro",Regular;
	font-size: 15px;
	line-height: 15px;
	text-transform: uppercase;
	margin-left: 10px;

}

.main-navigation{
	padding-top: 52px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 167px;
}

.site-navigation{
	font-family: "Raleway",SemiBold;
	font-size: 15px;
	line-height: 25px;
	display: flex;
	justify-content: space-between;
	width: 440px;
}

.login-button,
button{
	color: #ffffff;
	background-color: transparent;
	padding: 5px 18px;
	border: 1px solid #fff;
	border-radius: 3px;
	cursor: pointer;
}

.main-navigation a{
	color: #ffffff;
}



.site-navigation a:hover,
.site-navigation a:focus{
	color: #000000;
}

.slogan{
	font-family: "Myriad Pro",Regular;
	font-size: 55px;
	line-height: 65px;
	color: #fff;
	text-transform: uppercase;
}

.slogan-under{
    font-family: "Myriad Pro",Regular;
    font-size: 18px;
    line-height: 35px;
    color: #fff;
    margin-top: -40px;
}

.use button{
	margin-top: 16px;
	padding: 22px 42px;
	border: none;
	border-radius: 5px;
	box-shadow:  0px 7px 5px 0px #827d7dc4;
}

 


.buy{
	color: #fff;
	background: #061e37; 
}

.free{
	color: #061e37;
	background: #fff;
	margin-left: 30px;

}

.header-center{
	display: flex;
	justify-content: space-between;

}

.video{
	margin-top: 42px;
}

.info-slogan{
	font-family: "Raleway",SemiBold;
	font-size: 45px;
	padding-top: 70px;
}

.info-slogan-under{
	font-family: "Raleway",SemiBold;
	font-size: 25px;
	color: #b0bec5; 
}

.info-under{
	font-family: "Myried Pro",Regular;
	font-size: 15px;
	line-height: 25px;
	color: #b0bec5;
}

.inf{
	text-align: center;
}

.title-goes-here-one,
.title-goes-here-two,
.title-goes-here-three{
	text-align: center;
	background-image: url(img/list.png);
	background-repeat: no-repeat;
	background-position:top;
	height: 230px;
   
}

.title-goes-here-two{
	background-image: url(img/man.png);
}

.title-goes-here-three{
	background-image: url(img/worker.png);
}

.tgh{
	font-family: "Raleway",SemiBold;
	font-size: 20px;
	line-height: 25px;
	padding-top: 90px;
}

.tgh-under{
	font-family: "Raleway",Regular;
	font-size: 15px;
	line-height: 20px;
	color: #78909c;
	margin-top: -10px;
}

.title-goes-here-wrapper{
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
	padding: 0; 
}

.get-started{
	background-color: #1de9b6;
	padding: 22px 24px;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 5px 5px 1px #dadada;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}

.benchmarks{
	display: flex;
	justify-content: space-between;
	padding: 0;
    font-family: "Raleway",ExtraBold;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
}

.business,
.downloads,
.installs,
.users{
	width: 400px;
	height: 150px;
}

.business{
	background-color: #80d8ff;
	padding-left: 201px;
	padding-top: 50px;
	background-image: url(img/business.png);
	background-repeat: no-repeat;
	background-position: 35% 50%;

}

.downloads{
	background-color: #82b1ff;
	padding-left: 201px;
	padding-top: 50px;
	background-image: url(img/download.png);
	background-repeat: no-repeat;
	background-position: 35% 50%;

}

.installs{
	background-color: #b388ff;
	padding-left: 201px;
	padding-top: 50px;
	background-image: url(img/person.png);
	background-repeat: no-repeat;
	background-position: 35% 50%;
}

.users{
	background-color: #ea80fc;
	padding-left: 201px;
	padding-top: 50px;
	background-image: url(img/users.png);
	background-repeat: no-repeat;
	background-position: 35% 50%;
}